*.tar.gz
*.zip
*.pth
*dataset*
CARLA_OD/torchOD/testimg
CARLA_OD/torchOD/test_output3
*.pdf

*.pyc

CARLA/CarlaUE4
CARLA/Engine
CARLA/PythonAPI
CARLA/Co-Simulation
CARLA/HDMaps
CARLA/Tools
CARLA/carla-0-9-15-linux